<div class="tables__block">
    <table>
        <caption>Штукатурка «ARDECO ОРИГИНАЛЬНАЯ ФИНИШНАЯ»»</caption>
        <thead>
        <tr><th>Показатели смеси в сухом состоянии</th><th></th></tr>
        </thead>
        <tbody>
        <tr><td>Цвет</td><td>светло-бежевый</td></tr>
        <tr><td>Влажность</td><td>0,3%</td></tr>
        <tr><td>Наибольшая крупность зерен наполнителя</td><td>0,63 мм</td></tr>
        <tr><td>Насыпная плотность</td><td>1250 кг/м3</td></tr>
        <tr><td>Расход сухой смеси при толщине слоя 10 мм</td><td>13-14 кг/м2</td></tr>
        <tr><td>Количество воды:</td><td></td></tr>
        <tr><td>на 1 кг смеси</td><td>0,30-0,34 л</td></tr>
        <tr><td>на 20 кг смеси</td><td>6,0-6,8 л</td></tr>
        </tbody>
    </table>
    <table>
        <thead>
        <tr><th>Показатели смеси, готовой к применению</th><th></th></tr>
        </thead>
        <tbody>
        <tr><td>Марка по подвижности по погружению конуса</td><td>Пк3</td></tr>
        <tr><td>Время пригодности раствора к использованию</td><td>не менее 90 мин.</td></tr>
        <tr><td>Водоудерживающая способность</td><td>95%</td></tr>
        </tbody>
    </table>
    <table>
        <thead>
        <tr><th>Показатели затвердевшего раствора</th><th></th></tr>
        </thead>
        <tbody>
        <tr><td>Предел прочности при сжатии</br> (в возрасте 28 сут.)</td><td>не менее 1,5 МПа</td></tr>
        <tr><td>Удельная эффективная активность естественных радионуклидов Аэфф</td><td>не более 370 Бк/кг</td></tr>
        </tbody>
    </table>
    <table>
        <thead>
        <tr><th>Прочее</th><th></th></tr>
        </thead>
        <tbody>
        <tr><td>Условное обозначение</td><td>Смесь сухая растворная, штукатурная, известково-гипсовая, М10, Пк3 ГОСТ 28013-98</td></tr>
        <tr><td>ТУ</td><td>23.64.10-003-03564602-2018</td></tr>
        <tr><td>Дата описания</td><td>28.06.2020 г.</td></tr>
        </tbody>
    </table>
</div>