$main_color: #73243C;
$border_style_grey: 1px solid #d9d9d9;
$border_style_red: 1px solid #73243C;
$border_style_yellow: 1px solid #ffb917;
$header_font: 'Open Sans', sans-serif;
$text_font: Roboto, sans-serif;
$menu_font: Ubuntu, sans-serif;
$outline_yellow: #ffb917;
$text_color: #595959;
